
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Book>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Kitap İsmi</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.Name</td>
                            <td>
                                <form action="/Bookmark/RemoveBookmark" method="get">
                                    <input type="hidden" name="Id" value="@x.Id" />
                                    <button type="submit" class="btn btn-danger">Sepetten Kaldır</button>
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<form action="/Bookmark/ConfirmBookmark" method="get">
    <button type="submit" class="btn btn-success">Sepeti Onayla</button>
</form>



